@{
    ViewData["Title"] = "Generate Dual Authentication Key";
    string dualAuthKey = (string) ViewData["dualAuthKey"];
    string ReturnUrl = (string) ViewData["ReturnUrl"];
}

<div class="centered rounded text-center">
    <section class="row">
        <div class="col">
            <h3>Please use the Below QRCode for dual authentication and then hit the "back" button.</h3>
        </div>
    </section>
    <section class="row">
        <div class="col">
            <div id="qrcode">
            </div>
        </div>
    </section>
    <br />
    <section class="row">
        <div class="col"><a class="btn btn-danger" href="@ReturnUrl">Back</a></div>
    </section>
    <br />
</div>

@section head {
    <style>
        div#qrcode > img {
            margin: auto;
        }
    </style>

}

@section Scripts {
    <script src="~/js/qrcode.js/qrcode.min.js"></script>
    <script>
        $(function() {
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                text: "@dualAuthKey",
                width: 200,
                height: 200,
                colorDark: "#000000",
                colorLight: "#FFFFFF",
                correctLevel: QRCode.CorrectLevel.H
            });
        });
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}